<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome page</title>
</head>
<body>
    <h1> Angel's Fight Club </h1>
    <h2>The home of the true MMA fan</h2>


    <nav>
     <a href="/fighter"> see fighters </a>
    </nav>
    <!-- <div class="full-screen-contanier">
       <div class="login-contanier">
        <h1 class="login-title">Angel's Fight Club</h1>
        <form class="form">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <span class="msg">Valid Email</span>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <span class="msg">incorrect Password</span>
            </div>
            <button type="submit"> see fighter</button>
        </form>
       </div>
    </div> -->
</body>
</html>