/* main styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
  }
  body{
    background-image: url("https://e0.pxfuel.com/wallpapers/465/814/desktop-wallpaper-cage-mma-ufc-cage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
  }
  
  a:hover {
    border-color: #333;
  }
  
  /* nav styles */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
  }
  
  nav a:hover {
    border-color: #333;
  }
  