<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-2</title>
</head>
<body>
   <main>
       <h1>list of fighters</h1>
       <ul>
        <% for(let i = 0; i < fighter.length; i++) { %>
            <li>
                <a href="/fighter/<%= fighter[i]._id%>"><%= fighter[i].name%></a>
            </li>
       <% } %>
       </ul>
   </main>
   <nav>
       <ul>
           <a href="/">back to home</a><br>
           <a href="/fighter/new"> add a fighter</a><br>
       </ul>
  </nav>
</body>
</html>