<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-2</title>
</head>
<body>
    <h1>Add a fighter to our list</h1>
    <form action="/fighter" method="POST">
       
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/><br>

        <label for="age">Age:</label>
       <input type="text" id="age" name="age"required/><br>

       <label for="ko">KO:</label>
       <input type="number" id="ko" name="ko" min="0" required/><br>
       
       <input type="submit" value="create"/>

    </form>

</body>
</html>